@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;

  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 40px 150px;
}
.name {
  font-weight: bolder;
}

.nav-btn {
  background-color: white;
  border-radius: 8px;

  font-weight: 600;
  font-size: 20px;

  padding: 14px 20px 14px 20px;
 
  width: 240px;
  height: 58px;

  top: 3px;
}
.first{
    max-width: 1530px;
}
.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(assets/Hero-bg.png);
  background-position: center;
  width:100%;
  height: 652px;
  left: 0;
  right: 0;
  top: 131px;
  
  margin: 0px;
}
.first-sec-hero-bg{
  /* Group */
position: static;
width: 240.28px;
height: 240px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
padding-top: 30px;
margin-bottom: 20px;
}
.first-sec-head{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin: 15px 0px;
}
.first-sec-bio{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 3px;
}

.first-sec-btn{
    border-radius: 8px;

background: rgb(13, 19, 33);

position: static;
width: 240px;
height: 66px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;



flex: none;
order: 1;
flex-grow: 0;
margin-top: 30px;
margin-bottom: 32px ;
margin-left: 0px;
margin-right: 0px;
color: white;

color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 19px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.challange-accepted{
    color: white;
    text-decoration: none;
}
.footer-target{
   
    text-decoration: none;
}
main {
  max-width: 1140px;
  margin: 0px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second-sec{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 70px;
   height: 1395px;
    
}
.second-sec-start{   
 max-width: 930px;
height: 1235px;
padding: 55px 90px ;
}
.second-sec-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 0px auto; */
    padding-left: 0px 47px;
}
.every-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: auto;
letter-spacing: 0%;
text-align: center;
}
.second-sec-bio{
   
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}

.second-sec-first-part,.second-sec-second-part,.second-sec-third-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    height: auto;
    padding: 25px 48px;
    margin-bottom: 32px;
    margin-top: 20px;
}
.second-sec-first-part,.second-sec-third-part{
    border-radius: 16px;

    background: linear-gradient(90.00deg, rgb(215, 215, 215),rgba(255, 255, 255, 0) 100%);
}
.second-sec-second-part{
    border-radius: 16px;

background: linear-gradient(270.00deg, rgb(215, 215, 215),rgba(255, 255, 255, 0) 100%);
}
.second-sec-mini-title{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: auto;
letter-spacing: 0%;
text-align: left;
padding-right: 87px;
}
.second-sec-mini-bio{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: auto;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
}
.second-sec-img{
    width: 100%;
    max-width: 100%; 
}
.second-sec-img > img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
.second-sec-btn{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
background-color: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-size: 17px;
font-weight: 700;
text-align: center;
width: 150px;
height: 48px;
border-radius: 5px;

/* padding: 12px 20px 12px 20px;
margin: 32px 0px; */

margin-top: 30px;
margin-left: 0px;



}
.third-sec-start{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    height: 777px;
}
.third-sec-intro{
    padding: 0px 48px;

}
iframe{
    border-radius: 16px;
    margin: 70px 32px 32px 32px;
    width: 1030px;
    height: 555px;
    
}
.third-sec-bio{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
}
.fourth-sec-start{
    height: 460px; 
    margin-bottom: 111px;
    margin-top: 129px;
}
.fourth-sec-first-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fourth-sec-bio{
    margin-top: 20px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.fourth-sec-second-part{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 299px;
    margin-top: 48px;
    
}
.fourth-sec-languages{
    padding: 40px;
    /* height: 250px; */
    
    border-radius: 16px;
    margin: 15px;
    transition: 1s;
    cursor: pointer;
}
.fourth-sec-languages:hover{
    box-shadow: 0px 0px 15px rgb(214, 214, 214);
}
.HTML{
    border-radius: 16px;

background: rgba(255, 76, 30, 0.05);
}
.CSS{
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);
}
.Javascript{
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}
.fourth-sec-lang-name{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.lang-bio{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
}
.lang-link{
    /* text-decoration-color: black; */
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}
.fifth-sec-start{
    margin-top: 111px;
}
.fifth-sec-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
margin: 24px 0px;
background: rgb(255, 255, 255);
height: 219px;
padding: 40px;
gap: 24px;
transition: 1s;
}
.fifth-sec-lang:hover{
    box-shadow: 0px 0px 15px rgb(214, 214, 214);

}
.fifth-sec-bio{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
    margin-bottom: 48px;
}
.sixth-sec{
    background: linear-gradient( rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(assets/handshake.jpg);
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 320px;
    /* width: 10px; */
      margin-bottom: 79px;
}
.sixth-sec-start{
    padding: 50px 48px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.sixth-sec-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sixth-sec-help{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
/* line-height: 30px; */
letter-spacing: 0%;
text-align: center;
margin: 0px;
padding: 0px;
}
.sixth-sec-bio{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
/* line-height: 26px; */
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 16px;
margin-bottom: 35px;
}
.sixth-sec-last-part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 180px 0px 180px;
    /* margin-bottom: 64px; */

}
.sixth-sec-text-box{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
width: 548px;
height: 45px;
}
.sixth-sec-submit{
    border-radius: 8px;

background: rgb(255, 255, 255);
width: 120px;
height: 45px;
margin-left: 16px;
}
::placeholder{
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 14px;
}
input[type=submit]{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 17px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;

background: rgb(255, 255, 255);
}
footer{
        border-radius: 16px;

background: rgba(13, 19, 33, 0.03);
}
.footer-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px;
    width: 1140px;

}
.footer-bio{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.footer-icon{
    margin-left: 59px;
}

@media screen and (max-width: 600px){
    /* *{
        margin: 0px;
    } */
    nav{
        flex-direction:column;
        justify-content:center;
        align-items: center;
        margin: 10px auto;
        font-weight: 400;
    }
    .first-sec-hero-bg{
  display:flex;
  justify-content: center;
  align-items: center;
  
 }
 .first-section {
    margin-top: 30px;
   background-size: contain;
}
.first-sec-head{
    font-size: 30px;
font-weight: 800;
line-height: 38px;
}
.first-sec-bio{
    font-size: 15px;
font-weight: 400;
line-height: 16px;
margin: 0px 5px;
}
main{
    max-width: 600px;
    margin: 0px;
}
.every-title{
    line-height: 35px;
}
.second-sec{
    height: auto;
    margin-bottom: 0px;
}
.second-sec-start{
    padding: 5px;
    max-width: 600px;
    height: auto;
}
.second-sec-bio{
    font-size: 13px;
font-weight: 400;
line-height: 20px;
margin: 0px 10px;
}
.second-sec-img{
    width: 100%;
    max-width: 100%;
    /* height: auto; */
}
.second-sec-img > img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
.second-sec-first-part,.second-sec-second-part,.second-sec-third-part{
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
}
.second-sec-second-part{
    flex-direction: column-reverse;
}
.second-sec-mini-bio{
    font-size: 13px;
    line-height: 20px;
}
.second-sec-mini-title{
    margin-top: 0px;
}
.third-sec-start{

    /* padding: 0px 4px; */
    height: 300px;
}
.third-sec-bio{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 10px;
}
iframe{
    margin: 10px auto;
    width: auto;
    height: auto;
    margin-bottom: 0px;
    
}
.fourth-sec-start{
    margin-top: 50px;
}
.fourth-sec-second-part{
    flex-direction: column;
}
.fourth-sec-bio{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 10px;  
}
.fifth-sec-start{
    margin-top: 620px;
}
.fifth-sec-media-special{
  
    margin-bottom: 30px;
}
.lang-bio{
    font-size: 13px;
    line-height: 15px;
}
.sixth-sec{
   
    width: auto;
    height: auto;
}
.sixth-sec-start{
    padding: 0px;
    width: 100%;
    padding: 0px 0px;
}
.sixth-sec-help{
    font-size: 25px;
}
.sixth-sec-bio{
    font-size: 13px;
    padding: 0px 30px;
}
.sixth-sec-text-box{
    width: auto;
    height: 30px;
}
.sixth-sec-submit{
    width: auto;
    height: 30px;
}
.sixth-sec-last-part{
    padding: 0px 0px;
}
input[type=submit]{
    font-size: 12px;
}
::placeholder{
    font-size: 13px;
}
.footer-sec{
    width: auto;
 flex-direction: column-reverse;

justify-content:center;

padding-bottom: 0px;
 padding-top: 20px;
 padding-left: 10px;
 padding-right: 10px;

}
.footer-bio{
  font-size: 10px;
}
.footer-icon{
    margin: 0px 0px;
}

}